*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    line-height: 1.6;
    font-family: "Plus Jakarta Sans", sans-serif;
    min-width: 800px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

header{
    
    padding: 1rem 0;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 3rem 0 2rem;
}

.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.1rem;
    list-style-type: none;
}
.logo{
    cursor: pointer;
}

.logo p{
    font-size: 2rem;
    font-weight: 800;
    color: #FBBC05;
}

.logo a{
    color: #EB4335;
}

.menu li a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 700;
}

.menu li.logout a {
    font-size: 0.9rem;
    color: white;
    margin-left: 0.5rem;
    padding: 0.7rem 1rem;
    background-color: red;
    border-radius: 7px;
    transition: transform 0.3s ease;
}

.menu li.logout a:hover {
  /* lagi sadar iki udu button tai */
}

main{
    height: 43rem;
    background-color: white;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    padding: 2rem 2rem;
    margin-top: 5rem;
    padding-bottom: 10rem;
}

.about-profile{
    display: flex;
    width: 23rem;
    flex-direction: column;
    gap: 0.5rem;
}
.name-profile{
    display: flex;
    padding: 1rem 1.5rem;
    gap: 1rem;
    justify-content: start;
    align-items: center;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}
.name-profile img{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}
.name-profile .text-1 .name, .name-profile .text-1 .membership{
    font-size: 1.3rem;
}
.name-profile .text-1 .name{
    font-weight: 800;
}
.name-profile .text-1 .membership{
    font-weight: 500;
    color: grey;
}
.benefit{
    display: flex;
    padding: 1rem 1.5rem 2.3rem 1.5rem;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}
.benefit .item-benefit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 800;
    font-size: 1rem;
}
.item-benefit .gopay{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
} 
.item-benefit .gopay img, .item-benefit-member img{
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
}
.item-benefit-member{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 0.7rem;
}
.item-benefit-member .detail-member{
    margin-top: -0.2rem;
}
.item-benefit-member .detail-member a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 800;
}
.detail-benefit{
    display: flex;
    font-size: 0.9rem;
    flex-direction: row;
    justify-content: space-between;
    gap: 7.5rem;
}
.detail-benefit p:last-of-type{
    font-weight: 800;
}

.order{
    display: flex;
    padding: 1rem 1.5rem 2.1rem 1.5rem;
    gap: 0.1rem;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}
.order h1, .myprofile h1{
    font-size: 1.2rem;
    font-weight: 800;
}

.order p, .myprofile .content-myprofile{
    font-size: 0.9rem;
}

.myprofile{
    display: flex;
    padding: 1rem 1.5rem 2rem 1.5rem;
    gap: 0.1rem;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.myprofile a{
    text-decoration: none;
    color: black;
}

.driver{
    display: flex;
    padding: 1rem 1.5rem 2.1rem 1.5rem;
    gap: 0.1rem;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}
.driver-profile{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.2rem;
}
.driver-profile img{
    width: 2rem;
    height: 2rem;
}
.driver-profile p{
    font-size: 0.9rem;
    font-weight: 600;
}
.driver-profile p:last-of-type, .taken .title, .given .title{
    font-size: 0.7rem;
    font-weight: 500;
    color: gray;
}
.given, .taken{
    display: flex;
    flex-direction: row;
    gap: 1.8rem;
}

.given .address, .taken .address{
    font-size: 1rem;
    font-weight: 500;

}
.given img, .taken img{
    margin-top: 0.3rem;
    border-radius: 50%;
    background-color: gray;
    width: 0.5rem;
    height: 0.5rem;
}
.given img{
    background-color: white;
}

.map img{
    height: 51rem;
    width: 50rem;
}