*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    line-height: 1.6;
    background-image: url("https://ik.imagekit.io/tvlk/blog/2020/01/wisata-malam-jogja-4-Unsplash.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    min-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;

}
main{
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    backdrop-filter: blur(10px);
    border: 3px solid rgb(172, 162, 162);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    gap: 1.2rem;
    width: 35rem;
    height: 30rem;
    padding: 1rem;

}
.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10.2rem;
    width: 25.5rem;
}
.create{
    color: white;
    font-size: 1rem;
}
.logo p{
    font-size: 2rem;
    font-weight: 800;
    color: #FBBC05;
}

.logo a{
    color: #EB4335;
}

.input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 25.5rem;
}
.input h3{
    color: white;
    font-size: 1rem;
    font-weight: 500;
}
.input input{
    width: 25rem;
    height: 2.5rem;
    padding-left: 0.5rem;
    border: none;
    border-radius: 4px;
}
.account{
    color: white;
    width: 25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.account input{
    width: 1rem;
}

label{
    margin-right: 5rem;
}

.login button{
    width: 25.5rem;
    height: 2.5rem;
    background-color: #EB4335;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
}
.remember{
    margin-top: -1rem;
    margin-right: 14.1rem;
    color: white;
    display: flex;
    gap: 0rem;
    justify-content: start;
    font-size: 0.8rem;

}

.reset-menu{
    margin: 0;
    margin-right: 12.5rem;
    color: white;
    display: flex;
    gap: 0.2rem;
    font-size: 0.8rem;
}
.reset-menu a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.1rem;
    text-decoration: none;
    color: #FBBC05;
    font-size: 0.8rem;
    font-weight: 700;
    font-style: italic;
}
.reset-menu a p{
    color: #EB4335;
}

